*.json
*.stderr
*.stdout
*.log
*-loc.xml
*.ali
*.o
*.a
*.deps
*.bexch
*.cgpr
*~
.clangd
b__*

callgrind.out.*

applet/game/distributed/bin
applet/game/distributed/dsa

applet/game/distributed/appimage/AppDir
applet/game/distributed/appimage/AppDir-old
applet/game/distributed/appimage/assets
applet/game/distributed/appimage/client_tarball
applet/game/distributed/appimage/client_tarball-old
applet/game/distributed/client_tarball-old
applet/game/distributed/test/wan_on_orth
applet/game/distributed/client_tarball
applet/game/distributed/client_tarball.tar.gz
applet/game/distributed/appimage/client_partition
applet/game/distributed/appimage/client_partition-x86_64.AppImage

applet/game/distributed/test/lan/client_1/assets
applet/game/distributed/test/lan/client_2/assets

.clang-format

launch_arcana_fused
linuxdeploy-x86_64.AppImage