*.json
*.stderr
*.stdout
*.log
*-loc.xml
*.ali
*.o
*.a
*.deps
*.bexch
*.cgpr
.clangd
b__*


applet/dsa/dsa
applet/dsa/bin

launch_amud_server
launch_amud_client
launch_amud_fused

applet/distributed/bin
applet/distributed/dsa

.clang-format

launch_arcana_fused